@page
@model awSetup_Razor.Pages.Customers.CustomerContacts.CustomerContactsIndexModel

@{
    ViewData["Title"] = "CustomerContactsIndex";
    ViewData["ActivePage"] = ManageCustomerPages.CustomerContacts;
}

<div id="modal-placeholder"></div>

<div id="notification" data-url="@Url.Page("CustomerContactsIndex","Notifications")"></div>

<partial name="CustomerContactsTablePartial" for="CustomerContacts" />

@section Scripts {
    <script src="~/js/modal.js"></script>
    <script src="~/lib/jquery/dist/jquery.mask.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
