@page
@model awSetup_Razor.Pages.Customers.EditModel

@{
    ViewData["Title"] = "CustomerEdit";
    ViewData["ActivePage"] = ManageCustomerPages.CustomerEdit;
}

<br />
<h4>Edit Customer</h4>
<hr />
<div class="row">
    <div class="col-md-8 offset-2">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-sm-9">
                    <input asp-for="Customers.CustomerId" hidden />
                    <label asp-for="Customers.CustomerName" class="control-label font-weight-bold">Customer Name</label>
                    <input asp-for="Customers.CustomerName" class="form-control" />
                    <span asp-validation-for="Customers.CustomerName" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="Customers.CustomerCode" class="control-label"></label>
                    <input asp-for="Customers.CustomerCode" class="form-control" />
                    <span asp-validation-for="Customers.CustomerCode" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-1 mt-auto">
                    <div class="custom-control custom-switch">
                        <input asp-for="Customers.Active" class="custom-control-input" />
                        <label asp-for="Customers.Active" class="custom-control-label"></label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label asp-for="Customers.PrimaryPhone" class="control-label">Customer Phone</label>
                    <input asp-for="Customers.PrimaryPhone" class="form-control" />
                    <span asp-validation-for="Customers.PrimaryPhone" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-3">
                </div>
                <div class="form-group col-sm-3">
                    <label asp-for="Customers.TimeZoneOffset" class="control-label"></label>
                    <input asp-for="Customers.TimeZoneOffset" class="form-control" />
                    <span asp-validation-for="Customers.TimeZoneOffset" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label asp-for="Customers.FTPFolderPath" class="control-label">FTP Path</label>
                    <input asp-for="Customers.FTPFolderPath" class="form-control" />
                    <span asp-validation-for="Customers.FTPFolderPath" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-3">
                    <label asp-for="Customers.FTPUserName" class="control-label">UserName</label>
                    <input asp-for="Customers.FTPUserName" class="form-control" />
                    <span asp-validation-for="Customers.FTPUserName" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-3">
                    <label asp-for="Customers.FTPPassword" class="control-label">Password</label>
                    <input asp-for="Customers.FTPPassword" class="form-control" />
                    <span asp-validation-for="Customers.FTPPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <label asp-for="Customers.TwilioAccountSid" class="form-group col-sm-3"></label>
                <input asp-for="Customers.TwilioAccountSid" class="form-group form-control col-sm-9" />
                <span asp-validation-for="Customers.TwilioAccountSid" class="text-danger"></span>
            </div>
            <div class="form-row">
                <label asp-for="Customers.TwilioAuthToken" class="form-group col-sm-3"></label>
                <input asp-for="Customers.TwilioAuthToken" class="form-group form-control col-sm-9" />
                <span asp-validation-for="Customers.TwilioAuthToken" class="text-danger"></span>
            </div>

            <div class="form-row">
                <label asp-for="Customers.SendGridApiKey" class="form-group col-sm-3"></label>
                <input asp-for="Customers.SendGridApiKey" class="form-group form-control col-sm-9" />
                <span asp-validation-for="Customers.SendGridApiKey" class="text-danger"></span>
            </div>
            <div class="form-row">
                <label asp-for="Customers.EmailAddress" class="form-group col-sm-3"></label>
                <input asp-for="Customers.EmailAddress" class="form-group form-control col-sm-9" />
                <span asp-validation-for="Customers.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" name="edit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./CustomerIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}