@page
@{ Layout = "/Pages/Shared/_Layout.cshtml";}
@model awSetup_Razor.Pages.Customers.IndexModel

<div id="modal-placeholder"></div>

<h4>Customers</h4>

@await Html.PartialAsync("CustomersTablePartial", Model.Customers)

@section Scripts {
    <script src="~/js/modal.js"></script>
}