@page
@model awSetup_Razor.Pages.Customers.CreateModel

@{
    ViewData["Title"] = "CustomerCreate";
}

<h1>Create</h1>

<h4>Customers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customers.CustomerName" class="control-label"></label>
                <input asp-for="Customers.CustomerName" class="form-control" />
                <span asp-validation-for="Customers.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.CustomerCode" class="control-label"></label>
                <input asp-for="Customers.CustomerCode" class="form-control" />
                <span asp-validation-for="Customers.CustomerCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.PrimaryPhone" class="control-label"></label>
                <input asp-for="Customers.PrimaryPhone" class="form-control" />
                <span asp-validation-for="Customers.PrimaryPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.TimeZoneOffset" class="control-label"></label>
                <input asp-for="Customers.TimeZoneOffset" class="form-control" />
                <span asp-validation-for="Customers.TimeZoneOffset" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.FTPFolderPath" class="control-label"></label>
                <input asp-for="Customers.FTPFolderPath" class="form-control" />
                <span asp-validation-for="Customers.FTPFolderPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.FTPUserName" class="control-label"></label>
                <input asp-for="Customers.FTPUserName" class="form-control" />
                <span asp-validation-for="Customers.FTPUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.FTPPassword" class="control-label"></label>
                <input asp-for="Customers.FTPPassword" class="form-control" />
                <span asp-validation-for="Customers.FTPPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.SendGridApiKey" class="control-label"></label>
                <input asp-for="Customers.SendGridApiKey" class="form-control" />
                <span asp-validation-for="Customers.SendGridApiKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.EmailAddress" class="control-label"></label>
                <input asp-for="Customers.EmailAddress" class="form-control" />
                <span asp-validation-for="Customers.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.TwilioAccountSid" class="control-label"></label>
                <input asp-for="Customers.TwilioAccountSid" class="form-control" />
                <span asp-validation-for="Customers.TwilioAccountSid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.TwilioAuthToken" class="control-label"></label>
                <input asp-for="Customers.TwilioAuthToken" class="form-control" />
                <span asp-validation-for="Customers.TwilioAuthToken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.Active" class="control-label"></label>
                <input asp-for="Customers.Active" class="form-control" />
                <span asp-validation-for="Customers.Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
