@model awSetup_Razor.Models.ViewModels.ActionEdit
@{
    ViewData["Title"] = "Create";

}
<div class="modal fade" id="create-scriptaction" tabindex="-1" role="dialog" aria-labelledby="headerLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headerLabel">Create Action</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-page-handler="ScriptActionsCreate">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Scriptaction.Response"></label>
                        <select asp-for="Scriptaction.Response" class="form-control" asp-items="@Model.AvailableresponsesSL"></select>
                        <span asp-validation-for="Scriptaction.Response" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Scriptaction.ActionCode"></label>
                        <select asp-for="Scriptaction.ActionCode" class="form-control" asp-items="@Model.AvailablecodesSL"></select>
                        <span asp-validation-for="Scriptaction.ActionCode" ActionCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Scriptaction.Dial"></label>
                        <input asp-for="Scriptaction.Dial" class="form-control" />
                        <span asp-validation-for="Scriptaction.Dial" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Scriptaction.DialTag"></label>
                        <input asp-for="Scriptaction.DialTag" class="form-control" />
                        <span asp-validation-for="Scriptaction.DialTag" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Scriptaction.ReplyText"></label>
                        <input asp-for="Scriptaction.ReplyText" class="form-control" />
                        <span asp-validation-for="Scriptaction.ReplyText" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Scriptaction.ScriptActionId" />
                    <input type="hidden" asp-for="Scriptaction.ScriptId" />
                    <input type="hidden" asp-for="Scriptaction.StoredProcedure" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
                <button type="button" class="btn btn-primary" data-saving="modal" disabled style="display:none;">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Saving...
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}