@page
@model awSetup_Razor.Pages.Scripts.ScriptTagsIndexModel

@{
    ViewData["Title"] = "ScriptTagsIndex";
    ViewData["ActivePage"] = ManageScriptPages.ScriptTags;
}

<div id="modal-placeholder"></div>

<partial name="ScriptTagsTablePartial" for="ScriptTags" />

@section Scripts {
    <script src="~/js/modal.js"></script>
    <script src="~/js/ScriptTagEditModelPartial.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}