@page
@model awSetup_Razor.Pages.Customers.CustomerPhones.CustomerPhonesIndexModel

@{
    ViewData["Title"] = "CustomerPhonesIndex";
    ViewData["ActivePage"] = ManageCustomerPages.CustomerPhones;
}

<div id="modal-placeholder"></div>

<h1>CustomerPhonesIndex</h1>

@await Html.PartialAsync("CustomerPhonesTablePartial", Model.CustomerPhones)

@section Scripts {
    <script src="~/js/modal.js"></script>
    <script src="~/js/CustomerPhones.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}