@model awSetup_Razor.Models.CustomerPhones

<div class="modal fade" id="create-scriptaction" tabindex="-1" role="dialog" aria-labelledby="headerLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headerLabel">Create New Phone</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-page-handler="CustomerPhoneCreate">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CustomerId" class="control-label">@Model.CustomerId</label>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomerCode" class="control-label">@Model.CustomerCode</label>
                    </div>
                    <div class="form-group">
                        <label asp-for="TwilioPhoneNumber" class="control-label"></label>
                        <input asp-for="TwilioPhoneNumber" class="form-control" />
                        <span asp-validation-for="TwilioPhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ForwardNumber" class="control-label"></label>
                        <input asp-for="ForwardNumber" class="form-control" />
                        <span asp-validation-for="ForwardNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UnhandledMessage" class="control-label"></label>
                        <textarea asp-for="UnhandledMessage" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="UnhandledMessage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
                <button type="button" class="btn btn-primary" data-saving="modal" disabled style="display:none;">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Saving...
                </button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
